@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tags */
body {
  font-family: "Poppins", sans-serif;
  color: #fff;
}

h4 {
  font-size: 26px;
  word-spacing: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

h4 span {
  font-size: 20px;
  opacity: 0.5;
  text-decoration: line-through;
  user-select: none;
}
h5 {
  font-size: 22px;
  margin-top: 20px;
}

input[type="radio"] {
  display: none;
}

a {
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 15px 35px;
  background-color: #944852;
  border-radius: 10px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s linear;
}
a:hover {
  background-color: #424242;
}

/* Classes */
.wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  width: 900px;
  max-width: calc(100%-40px);
  display: flex;
  flex-direction: column;
  align-items: end;
}
.info-wrap {
  width: 450px;
  padding: 15px 0px;
  /* border: 2px solid cyan; */
}

.title-up {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
}

.desc-btn + label {
  margin-right: 25px;
  transition: all 0.2s linear;
  cursor: pointer;
}

.desc-btn:checked + label,
.desc-btn:not(:checked) + label {
  font-size: 22px;
  font-weight: 600;
}
.desc-btn:not(:checked) + label {
  opacity: 0.5;
}
.desc-btn:not(:checked) + label:hover {
  opacity: 0.75;
}

.section-fluid {
  width: 100%;
  position: relative;
}
.desc-sec {
  margin-top: 10px;
  transform: translateY(20px);
  opacity: 0;
  transition: all 0.2s linear;
}

.accor-2 {
  position: absolute;
  display: flex;
  gap: 25px;
  top: 29px;
}
.accor-2 div p span {
  font-size: 28px;
}

/* Showing whichever btn is selected */
#description:checked ~ .accor-1 {
  opacity: 1;
  transform: translate(0);
}
#details:checked ~ .accor-2 {
  opacity: 1;
  transform: translate(0);
}

/* Styling Color Btn */
.color-btn + label {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  transition: all 0.2s linear;
  margin-left: 10px;
}

.color-one + label {
  background-image: url("./images/color1.jpg");
}
.color-two + label {
  background-image: url("./images/color2.jpg");
}
.color-three + label {
  background-image: url("./images/color3.jpg");
}
.color-four + label {
  background-image: url("./images/color4.jpg");
}
.color-five + label {
  background-image: url("./images/color5.jpg");
}
.color-six + label {
  background-image: url("./images/color6.jpg");
}
.color-btn:hover + label {
  transform: scale(1.1);
}
.color-btn:checked + label {
  border: 4px solid #424242;
  transform: scale(1.3);
}

/* Applying bg logic */
.bg-color {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.2s linear;
  z-index: -1;
}

.bg-color-1 {
  background-image: linear-gradient(196deg, #f1a9a9, #e66767);
  opacity: 0;
}
#color-1:checked ~ .bg-color-1 {
  opacity: 1;
}
.bg-color-2 {
  background-image: linear-gradient(196deg, #4c4c4c, #262626);
  opacity: 0;
}
#color-2:checked ~ .bg-color-2 {
  opacity: 1;
}
.bg-color-3 {
  background-image: linear-gradient(196deg, #8a9fb2, #5f7991);
  opacity: 0;
}
#color-3:checked ~ .bg-color-3 {
  opacity: 1;
}
.bg-color-4 {
  background-image: linear-gradient(196deg, #97afc3, #6789a7);
  opacity: 0;
}
#color-4:checked ~ .bg-color-4 {
  opacity: 1;
}
.bg-color-5 {
  background-image: linear-gradient(196deg, #afa6a0, #8c7f76);
  opacity: 0;
}
#color-5:checked ~ .bg-color-5 {
  opacity: 1;
}
.bg-color-6 {
  background-image: linear-gradient(196deg, #aaadac, #838786);
  opacity: 0;
}

#color-6:checked ~ .bg-color-6 {
  opacity: 1;
}

.img {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 65px;
  left: 370px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.2s linear;
}

#color-1:checked ~ .chair-1 {
  background-image: url("./images/chair1.png");
  animation: shake 0.7s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
#color-2:checked ~ .chair-2 {
  background-image: url("./images/chair2.png");
  animation: shake 0.7s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
#color-3:checked ~ .chair-3 {
  background-image: url("./images/chair3.png");
  animation: shake 0.7s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
#color-4:checked ~ .chair-4 {
  background-image: url("./images/chair4.png");
  animation: shake 0.7s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
#color-5:checked ~ .chair-5 {
  background-image: url("./images/chair5.png");
  animation: shake 0.7s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
#color-6:checked ~ .chair-6 {
  background-image: url("./images/chair6.png");
  animation: shake 0.7s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0) rotate(-1deg);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0) rotate(2deg);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-3px, 0, 0) rotate(-3deg);
  }
  40%,
  60% {
    transform: translate3d(3px, 0, 0) rotate(3deg);
  }
}
